@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap');

:root
{
	--small-padding: 1px;
	--medium-padding: 5px;
	--big-padding: 15px;

	--sans-serif-font: 'Palanquin', sans-serif;

	--blue1: #0b1e33;
	--blue2: #013c58;
	--blue3: #00537a;
	--yellow1: #f5a201;
	--yellow2: #ffba42;
}

body
{
	min-width: 800px;

	font-family: var(--sans-serif-font);
	font-weight: 700;
	color: var(--yellow2);
	
	margin: 0px;
	padding: 0px;
}

.maindiv
{
	background-color: #0b1e33;

	margin: 0px;
	padding: var(--medium-padding);
}

a
{
	margin: 0px;
	padding: 0px;

	text-decoration: none;
	color: var(--yellow1);
}

h1
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 25px;
}

h2
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 15px;
}

h3
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 10px;
}

h4
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 7px;
}

.newsite-container
{
	margin: 0px;
	padding: var(--medium-padding);

	background-color: #00537a;
}

.navbar
{
	margin: 0px;
	padding: var(--medium-padding);
}

.horiz-flexbox
{
	display: flex;
	flex-direction: row;

	margin: 0px;
	padding: 0px;
}

.horiz-flexbox > div
{
	margin-right: var(--big-padding);
}

.vert-flexbox
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0px;
	padding: 0px;
	padding-top: var(--big-padding);

	background-color: #013c58;
}

.vert-flexbox > div
{
	margin-bottom: var(--big-padding);
}

.vert-flexbox-thin
{
	display: flex;
	flex-direction: column;

	margin: 0px;
	padding: var(--medium-padding);
}

.vert-flexbox-thin > div
{
	margin-bottom: var(--medium-padding);
}