:root
{
	--small-padding: 1px;
	--medium-padding: 5px;
	--big-padding: 15px;

	--sans-serif-font: sans-serif;
	--monospace-font: monospace;
}

body
{
	font-family: var(--sans-serif-font);
	
	margin: 0px;
	padding: 0px;
}

.maindiv
{
	background-color: #a0a0a0;

	margin: 0px;
	padding: var(--medium-padding);
}

a
{
	margin: 0px;
	padding: 0px;

	text-decoration: none;
	color: #007070;
}

h1
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 25px;
	font-weight: normal;
}

h2
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 15px;
	font-weight: normal;
}

h3
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 10px;
	font-weight: normal;
}

h4
{
	margin: 0px;
	padding: var(--small-padding);

	font-family: var(--sans-serif-font);
	font-size: 7px;
	font-weight: normal;
}

.newsite-container
{
	margin: 0px;
	padding: var(--medium-padding);

	background-color: #802020;
}

.navbar
{
	margin: 0px;
	padding: var(--medium-padding);

	background-color: #208020;
}

.horiz-flexbox
{
	display: flex;
	flex-direction: row;

	margin: 0px;
	padding: 0px;

	background-color: #3030e0;
}

.horiz-flexbox > div
{
	margin-right: var(--big-padding);
}

.vert-flexbox
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0px;
	padding: 0px;
	padding-top: var(--big-padding);

	background-color: #707070;
}

.vert-flexbox > div
{
	margin-bottom: var(--big-padding);
}

.vert-flexbox-thin
{
	display: flex;
	flex-direction: column;

	margin: 0px;
	padding: var(--medium-padding);
}

.vert-flexbox-thin > div
{
	margin-bottom: var(--medium-padding);
}